<p id="notice"><%= notice %></p>

<p>
  <b>Section:</b>
  <%= @section.name %>
</p>

<p>
  <b>Side</b>
  <%= @section.side %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
